.env
backup.*
.DS_Store
node_modules
dist
.vscode
!.vscode/launch.json
.idea
*.log
.idea
*.tsbuildinfo

app-01/node_modules
app-01/.DS_Store
app-02/node_modules
app-02/.DS_Store
app-03/node_modules
app-03/.DS_Store
